@model Clicker.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4 style="text-align:center">Highly addictive game!</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div class="col-md-5">
            <p>Toast Clicker is an incremental game. </p>
            <ul>
                <li>Click to get toasts</li>
                <li>Raise your production</li>
                <li>Hire workers</li>
                <li>Buy upgrades</li>
                <li>Get achievements</li>
                <li>Conquer the world</li>
                <li>Click more to get more toasts</li>
            </ul>
        </div>
        <div class="col-md-7 text-center">
            <br />
            <video id="demoVideo" width="360" height="154" autoplay="autoplay" loop>
                <source src="~/Content/Images/toastdemo.mp4" type="video/mp4">
                <source src="~/Content/Images/toastdemo.webm" type="video/webm">
            </video>
        </div>
        @*<div class="col-md-7">
            <img class="img-circle" height="200" src="~/Content/Images/screen.png" />
        </div>*@
  
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
